<h1>All current known Superpowers</h1>

<ul>
  <% @superpowers.each do |superpower| %>
    <li>
      <%= link_to superpower.name, superpower_path(superpower) %>
      Description: <%= superpower.description %>
    </li><br>
  <% end %>
</ul>
