<h1>All Superheroes</h1>

<h3>Filter By Power</h3>
<%= form_tag superheroes_path, method: "get" do %>
  <%= select_tag :superpower_id, options_from_collection_for_select(Superpower.all, :id, :name) %>
  <%= submit_tag "Filter" %>
<% end %>


<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <%= link_to superhero.super_name, superhero_path(superhero) %>
    </li>
    <br>
  <% end %>
</ul>
