<h1>All Superheroes</h1>

<p> Search By Superpower:</p>
<%= form_tag("/search", method: :get) do %>
  <%= text_field_tag :superpower %>
  <%= submit_tag "Search" %>
<% end %>

<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <%=link_to superhero.super_name, superhero_path(superhero)  %>
    </li>
    <br>
  <% end %>
</ul>
